<div class="ekart--header">
    <div class="ekart-logo">
        <img src="../../assets/img/danny.JPG">
        Danny X-shop
    </div>
    <div class="ekart--header--nav">
        <div class="ekart--top--bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>
        <div class="ekart--bottom--bar">
            <div class="ekart-menu">
                <a *ngFor="let menu of menuItems" href="#">{{ menu }}</a>
            </div>
        </div>

    </div>
</div>